@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --bg-white: hsl(0, 0%, 100%);
  --bg-light-gray: hsl(212, 45%, 89%);
  --bg-grayish-blue: hsl(220, 15%, 55%);
  --bg-dark-blue: hsl(218, 44%, 22%);

  --font-weight-400: 400;
  --font-weight-700: 700;
}

* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--bg-light-gray);
}

.qr-card {
  text-align: center;
  width: 300px;
  height: 450px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-white);
}

.qr-card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.qr-card figcaption {
  padding: 0.5rem;
}

.qr-title {
  font-size: 1.2rem;
  font-weight: var(--font-weight-700);
  margin-bottom: 0.5em;
}

.qr-desc {
  font-size: 15px;
  opacity: 0.6;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
